# Data files
data/*.csv

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Logs and temporary files
*.log
*.bak

# Virtual environment directories
venv/
.venv/

# System files
.DS_Store
Thumbs.db